# Source files
extension/src/
extension/test/
scripts/

# Development files
.vscode/
.vscode-test/
.gitignore
.eslintrc.json
.eslintignore
tsconfig.json
commitlint.config.js
pnpm-lock.yaml

# Output files
*.vsix
coverage/
dist/

# Keep only necessary files
!extension/out/**/*
!extension/snippets/**/*
!extension/images/**/*
